# [EXPLANATION] Semantic versioning.
# [EXPLANATION] Dependency management and security risks
# [EXPLANATION] Possible automations for dependency management
coloredlogs==15.0.1
# [MANAGEMENT] To add the dependencies to the project in one by one fashion
pytest==7.0.1
coverage==6.3.2
build==0.7.0
twine==3.8.0